<div class="container mx-auto p-6 max-w-7xl">
  <div class="flex justify-between items-center mb-4">
    <h4 class="text-lg font-semibold heading-text flex items-center gap-2">
      <i class="pi pi-chart-line text-primary"></i>
      Exchange Rates
    </h4>
    @if (ratesStore.hasLastUpdate()) {
      <div class="text-sm secondary-text flex items-center gap-2">
        <i class="pi pi-clock"></i>
        Last updated: {{ratesStore.lastUpdate() | date:'medium'}}
      </div>
    }
  </div>

  <currency-pair-selector/>
  <rates-list/>
</div>
